@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        word-break: break-word;
    }
    input,
    textarea {
        @apply outline-none focus:outline-none;
    }
    ::-webkit-search-cancel-button {
        @apply w-3 h-3 cursor-pointer;
        -webkit-appearance: none;
        background: url(/x.svg) no-repeat 50% 50%;
    }
    ::-webkit-scrollbar {
        @apply w-2;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        @apply bg-gray-500/[.15];
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        @apply bg-gray-500 rounded-2xl max-h-6 hover:bg-gray-600;
    }
}
